bind any:10001 default ipv4;
secret "{{fastd.backbone.secret_key}}";

include peers from "servers";

interface "tap1";
log level info;
mode tap;
method "null";
mtu 1364;
secure handshakes yes;
status socket "/tmp/fastd_server.sock";
log to syslog level verbose;
user "fastd";

on up "
  ip link set up dev $INTERFACE
  batctl if add $INTERFACE
";
