---
{% for host in groups['supernodes'] %}

- targets: [ {{ host }}:9324 ]
  labels:
    job: bird_supernodes
    site: {{ host | regex_replace('[^.]+\.(.*?)(\.de)?\.ff-e\.net$', '\\1') }}
    scope: supernodes
{% endfor %}
