protocol ospf {
  import all;
  export filter ospf_out;
  area 0.0.0.0 {
    interface "l2-*" {
      cost 1000;
      authentication cryptographic;
      password "{{ ospf_password }}";
    };
    interface "lo" {
      stub yes;
    };
  };
};
