function is_site_in() {
  if DRAINED = 1 then return false;

{% for site_prefix in site_prefixes %}
  if net ~ {{ site_prefix }} then return true;
{% endfor %}
  if net ~ [ {{ site_mgmt_filter }} ] then return true;

  return false;
}

function is_site_out() {
  if DRAINED = 1 then return false;

  return is_default_route();
}

filter site_in_failsafe {
  if is_site_in() then {
    accept;
  }

  reject;
}

filter site_out_failsafe {
  if is_site_out() then {
    accept;
  }

  reject;
}

filter site_in {
  if is_site_in() then {
    bgp_local_pref = 10000;
    accept;
  }

  reject;
}

filter site_out {
  if is_site_out() then {
    bgp_local_pref = 10000;
    accept;
  }

  reject;
}

{% for site in dsl_sites %}
{% if site.bgp is defined %}
{% if openvpn is defined and site.tunnel | default('openvpn') == 'openvpn' %}
protocol bgp {{ site.bgp.name }}_ovpn from generic_bgp {
  neighbor {{ openvpn.ipv4.server_net | ipaddr(site.id) | ipaddr('address') }} as {{ own_as }};
  import filter site_in_failsafe;
  export filter site_out_failsafe;
}
{% elif gre is defined and site.tunnel | default('') == 'gre' %}
protocol bgp {{ site.bgp.name }}_gre from generic_bgp {
  neighbor {{ gre.ipv4.server_net | ipsubnet(31, site.id) | ipaddr(1) | ipaddr('address') }} as {{ own_as }};
  import filter site_in;
  export filter site_out;
}
{% elif wireguard is defined and site.tunnel | default('') == 'wireguard' %}
protocol bgp {{ site.bgp.name }}_wg from generic_bgp {
  neighbor {{ wireguard.interfaces.wg0.network | ipaddr(site.id) | ipaddr('address') }} as {{ own_as }};
  import filter site_in;
  export filter site_out;
}
{% endif %}

{% endif %}
{% endfor %}
