{% set prefix = site.prefixes | first %}
firewall {
    all-ping enable
    broadcast-ping disable
    ipv6-receive-redirects disable
    ipv6-src-route disable
    ip-src-route disable
    log-martians enable
    receive-redirects disable
    send-redirects enable
    source-validation disable
    syn-cookies enable
}
interfaces {
    ethernet eth0 {
        address dhcp
        dhcp-options {
          default-route no-update
        }
        description Uplink
        duplex auto
        speed auto
    }
    ethernet eth1 {
        duplex auto
        speed auto
{% if site.mgmt is defined %}    
        address {{ site.mgmt.ipv4 | ipaddr(1) }}
        description Management
        vif 42 {
            description Freifunk
            address {{ prefix.ipv4 | ipaddr(1) }}
{% if prefix.ipv6 is defined %}
            address {{ prefix.ipv6 | ipsubnet(64, 0) | ipaddr(1) }}
            ipv6 {
                dup-addr-detect-transmits 1
                router-advert {
                    cur-hop-limit 64
                    link-mtu 1364
                    managed-flag false
                    max-interval 20
                    name-server 2001:4860:4860::8888
                    other-config-flag false
                    prefix {{ prefix.ipv6 | ipsubnet(64, 0) }} {
                        autonomous-flag true
                    }
                    send-advert true
                }
            }
{% endif %}
        }
{% else %}
        description Freifunk
        address {{ prefix.ipv4 | ipaddr(1) }}
{% if prefix.ipv6 is defined %}
        address {{ prefix.ipv6 | ipsubnet(64, 0) | ipaddr(1) }}
        ipv6 {
            dup-addr-detect-transmits 1
            router-advert {
                cur-hop-limit 64
                link-mtu 1364
                managed-flag false
                max-interval 20
                name-server 2001:4860:4860::8888
                other-config-flag false
                prefix {{ prefix.ipv6 | ipsubnet(64, 0) }} {
                    autonomous-flag true
                }
                send-advert true
            }
        }
{% endif %}
{% endif %}
    }
    ethernet eth2 {
        duplex auto
        speed auto
    }
{% if (site.model | default('')) | match('ER-X.*') %}
    ethernet eth3 {
        duplex auto
        speed auto
    }
    ethernet eth4 {
        duplex auto
        speed auto
    }
{% if (site.model | default('')) == 'ER-X-SFP' %}
    ethernet eth5 {
        duplex auto
        speed auto
    }
{% endif %}
{% endif %}
{% if (site.model | default('')) | match('ER-X.*') %}
    switch switch0 {
        mtu 1500
    }
{% endif %}
    loopback lo {
    }
    openvpn vtun0 {
        description "MGMT VPN"
        encryption aes256
        mode client
        openvpn-option "--tls-auth /config/auth/ta.key 1"
        openvpn-option "--auth SHA384"
        openvpn-option --comp-lzo
        openvpn-option --persist-key
        openvpn-option --persist-tun
        openvpn-option "--remote-cert-tls server"
        openvpn-option "--tls-cipher TLS-DHE-RSA-WITH-AES-256-CBC-SHA"
        protocol udp
        remote-host vpn.freifunk-essen.net
        remote-port 1194
        tls {
            ca-cert-file /config/auth/ca.crt
            cert-file /config/auth/client.crt
            key-file /config/auth/client.key
        }
    }
{% if site.tunnel | default('') == 'wireguard' %}
{% for node in groups['supernodes'] %}
    wireguard wg{{ loop.index - 1 }} {
        address {{ hostvars[node].wireguard.interfaces.wg0.network | ipaddr(site.id) | ipaddr('address') }}/24
        mtu 1420
        peer {{ hostvars[node].wireguard.interfaces.wg0.public_key }} {
            allowed-ips 0.0.0.0/0
            allowed-ips ::/0
            description {{ node }}
            endpoint {{ hostvars[node].host_ip }}:51820
            persistent-keepalive 25
        }
        private-key {{ site.wireguard.private_key }}
        route-allowed-ips false
    }
{% endfor %}
{% endif %}
}
policy {
    prefix-list sn-in {
        rule 10 {
            action permit
            le 32
            prefix 0.0.0.0/0
        }
    }
    prefix-list sn-out {
        rule 10 {
            action permit
            prefix {{ prefix.ipv4 }}
        }
{% if site.mgmt is defined %}
        rule 20 {
            action permit
            prefix {{ site.mgmt.ipv4 }}
        }
{% endif %}
    }
{% if prefix.ipv6 is defined %}
    prefix-list6 sn-in-ipv6 {
        rule 10 {
            action permit
            prefix ::/0
        }
    }
    prefix-list6 sn-out-ipv6 {
        rule 10 {
            action permit
            prefix {{ prefix.ipv6 | ipsubnet(64, 0) }}
        }
    }
{% endif %}
}
protocols {
    bgp 65406 {
{% if prefix.ipv6 is defined %}
        address-family {
            ipv6-unicast {
                network {{ prefix.ipv6 | ipsubnet(64, 0) }} {
                }
            }
        }
{% endif %}
{% for node in groups['supernodes'] %}
        neighbor {{ hostvars[node].wireguard.interfaces.wg0.network | ipaddr(1) | ipaddr('address') }} {
            nexthop-self
            prefix-list {
                export sn-out
                import sn-in
            }
            remote-as 65406
            soft-reconfiguration {
                inbound
            }
        }
{% endfor %}
        network {{ prefix.ipv4 }} {
        }
{% if site.mgmt is defined %}
        network {{ site.mgmt.ipv4 }} {
        }
{% endif %}
        parameters {
            router-id 100.72.{{ site.id }}.1
        }
    }
{% if site.gateway is defined %}
    static {
        route 216.239.35.0/32 {
            next-hop {{ site.gateway }} {
            }
        }
        route 216.239.35.4/32 {
            next-hop {{ site.gateway }} {
            }
        }
        route 8.8.4.4/32 {
            next-hop {{ site.gateway }} {
            }
        }
{% for node in groups['supernodes'] %}
        route {{ hostvars[node].host_ip }}/32 {
            next-hop {{ site.gateway }} {
            }
        }
{% endfor %}
        route 94.130.183.96/32 {
            next-hop {{ site.gateway }} {
            }
        }
    }
{% endif %}
}
service {
    dhcp-server {
        disabled false
        hostfile-update disable
        shared-network-name Freifunk {
            authoritative disable
            subnet {{ prefix.ipv4 }} {
                default-router {{ prefix.ipv4 | ipaddr(1) | ipaddr('address') }}
                dns-server {{ prefix.ipv4 | ipaddr(1) | ipaddr('address') }}  
                lease 3600
                start {{ prefix.ipv4 | ipaddr(2) | ipaddr('address') }} {
                    stop {{ prefix.ipv4 | ipaddr(254) | ipaddr('address') }}
                }
            }
        }
{% if site.mgmt is defined %}
        shared-network-name MGMT {
            authoritative disable
            subnet {{ site.mgmt.ipv4 }} {
                default-router {{ site.mgmt.ipv4 | ipaddr(1) | ipaddr('address') }}
                dns-server {{ site.mgmt.ipv4 | ipaddr(1) | ipaddr('address') }}
                lease 86400
                start {{ site.mgmt.ipv4 | ipaddr(100) | ipaddr('address') }} {
                    stop {{ site.mgmt.ipv4 | ipaddr(120) | ipaddr('address') }}
                }
            }
        }
{% endif %}
    }
    dns {
        forwarding {
            cache-size 10000
            listen-on eth1
{% if site.mgmt is defined %}
            listen-on eth1.42
{% endif %}
            name-server 8.8.8.8
        }
    }
    nat {
        rule 5100 {
            outbound-interface eth0
            source {
                address !10.0.0.0/8
            }
            type masquerade
        }
    }
    snmp {
        community ffe {
            authorization ro
            client 172.16.0.1
            client 172.16.0.6
        }
        contact noc@freifunk-essen.de
        listen-address {% if site.mgmt is defined %}{{ site.mgmt.ipv4 | ipaddr(1) | ipaddr('address') }}{% else %}172.16.0.{{ site.id }}{% endif %} {
            port 161
        }
        location {{ site.name }}
    }
    ssh {
        disable-password-authentication
        port 22
        protocol-version v2
    }
}
system {
    host-name {{ site.name }}
    login {
        user dan_nrw {
            authentication {
                encrypted-password $6$huD7NZ.GU1AHW0n$jCf1rYMZ.JuOLf14xLsLuQXg4rQyGs5/kDl/JmYim2wnZirDohZPAfNHmV8AZsR1rlOm5yX/xgFB8.Z1A9D4y.
                plaintext-password ""
                public-keys dan {
                    key AAAAB3NzaC1yc2EAAAADAQABAAACAQC/D9Ap19MxtlKqXmU7uRd7KvfN8oGEK7CMl/Og5a7BHqOh6Y0554DkWzTzuD2HNqGqhIhaFMQRLlC4IBLnwd03oNyUO4GtLDjSXsEGynryo0a+iCtXNbh6jT9VL6SBD8jCr0hJDuY9V0vdTimb9WXhzX7jm5rIuLvmYuJqasCirfORROL6lneGGW9O3r/uWPmYGZX4gnI883TinqJhtTNGZiRfhhR6EMc+n2m1IYDLR19ZesnX/V0IlzWIxmmNI6zOEu2HSjipfjwI3qIjz8SuktV5CjQ41U9nCd1g6V7cKqaV3V2YOucI8htYOUMa7wfURoUQCC7rMzV1MDYyufdQUGx4LaVdk7y/ooPXOY8NYyDeX9NAfcQHcg3kWZfBOJT6SotfqVX08EGQDM8NJIvzZ1YduC256zbsIIKLo0BG+tccMbxvxlRuFepxGSDh2k7sALbdFSR3WRK//9lZ/94ySgF/wj2dffp4Og2NAi8H+1rYdYTmeMIrAEq2Yg5xEJpveQCqg4wmTPS6MEN4fTPh9Ly2I9NIYmdnSoSdpEk8GTs7boWrpJNXU3D0fK5MyYMiBp6kYxubBLKxRmqvtatu+ocsMrVwBcSUBGclzEuEZJfYeGno5hUzqbdTPgqe9FfrIwr5Jm+mwNuriDq8QLjPveJpQRrE3vExokBMbLS/vw==
                    type ssh-rsa
                }
                public-keys yubikey4 {
                    key AAAAB3NzaC1yc2EAAAADAQABAAACAQDpW6yKuzk4WVkNrVXkdczcBYSbljtq9eUSORMSTQIvY+XedNxBDLRUeGAahojDKWZBIXPm0xJ6e0RqaTFAwSmkWK6X1rFBQYGuK8+4trt+GOroYp9joYN0KFihHHKMgubPEIvU85x0ZbpbHUiioDvt0rZy9YJJ0L2UHNP/L07+0d0s5s33mpkeUUsGei1xvu9nyzyAq7YDm+UssqQaiTHH7dYxhXGSdd3jgKjZjYNDXuIARLPdsjwEulT8wYHgSu239zvCcJRXEb4mgDe6wk9oFOUBC9X7emTjbkQQKwmHnTWNaHRzEwgDkgFTYbsLhVnYy6aa4cMlQ7peCcGVVwcGKSUCdr7Zjq+mxhgFKGM3z8sPXCHWP4krQNfrJJgzyw4IgZsrp91hdEQmQjMYDmJRLYloLnClm4qQzThRxg6giLAHVNvoswoUtlTqTP252yS+yRKo7ioYkVYF50jZSbRuRFNZ4QbHL4jTLCOpPgFM4u5zZZqChTSJzOV7zd9+LPUTt9kfEfI0jXGbAQ1+X9mhE5+Uw0ZY/d1FVq6BxbPVhymaPSM+wYjhzkGuSkfvaknb/tcJ9+6QlKUVyioxIm5dgpMrrdquMwoVqOFC4Bc7uP9e0ryRw4Uo8isdLW5omXWVqPjrvXw/t3r7815dvz/NREEwlAI4TSy2nnHKKqPJCQ== 
                    type ssh-rsa
                }
            }
            full-name "Daniel Czerwonk"
            level admin
        }
        user pberndro {
            authentication {
                encrypted-password $6$eho3KXIB.jiq$G4aujWqTA216TZPS3ZC0Yj5WaS57Pj.zcFOAyYwjbdRgTeyPxUCL3goHgqAcwSyi0f5lKNe1GSTaLYtRxoGpF0
                plaintext-password ""
                public-keys Philip {
                    key AAAAB3NzaC1yc2EAAAADAQABAAABAQDRKiJ4igF0RYk4pGLfd4E0t8JAtB/KpaiWOLYJnY5lwg7bx70dDwKaHU55wIl9Zba6/tv2zZeAouzomt1ZRqqje8l4qQvTvop6wcINRvKp6O3S8Ns6NbJb2axrXwbtLqZTqggYD06NOVJkO3o+979KMafxJVgKQzqWhpFiCE4gPcMLJT3JIUL/px+EOubMhZ/dtTUvTV81exh+yK2i3gwAHYdgqyDEmrwun/bb2UQMPmnb+K7Sp+N2eIAUzd5ec1xDf2Rg07bcsm48P6lWUWud2glvdpX80DX3tdUr6x4TXWatx5f6jEqyaUStiukCrKrgHs6V2fGfR8N/4wk5JdOP
                    type ssh-rsa
                }
            }
            full-name "Philip Berndroth"
            level admin
        }
        user oxidized {
            authentication {
                encrypted-password $6$Tntt3fA5u9$3JQLrt5iMIzQqAWG5CjSAKOYH5UPgk1Xlnu1kcNc4xg8SSIGw7P/HBjhS1xKMIHLpOb8b4/RUTPyeYFivBOpI1
                plaintext-password ""
                public-keys ssh {
                    key AAAAB3NzaC1yc2EAAAADAQABAAACAQCb+tLJ7n1BVYYn9v9nd5I49PiRzuvWskWVpBl/1Df7ZuQS1gLVoSeTQ+Zu76xcaePVn77yTwsMhJoNnCRPpKevxKpc+sgUui/eXF5of1aFzF1xRwXLI42jLsSA9L89m1HcR+tn6EVNiKnogTssluybDkNFNsHa3w9Qdp2oqXYUqiP+BgPXh7hG9yXF4HYwQt/4/zz7KjOpGjI3rY8lSvWwcBGmSt4TD5/kB4NgVNiD8Fc0OI+IYCSV/iFOMOZw8J4VWPozqO3vVMgHoAl4OAEeRvIku1Y860+unT1car1JLvqSevrB3xuPHwM55aCeTxT2WE3ZG0TaId+a0ToGVjOSQvYs7jVSeekVbVpLnZpbc7nsNHZeLdNeXojg7aTu1BE+hJ6fRkuDMU2mK+/qgyQBpP4/vLr2MstqAqSfx6MpCl6fgCmYjQfIwlq9fKkwT2146A6KqoOMH32w+VLCgAojjcdzlTHEkw/OVdAHZTVxEVN3ZkcSUT86fPVni67epc+v7hO29KxPGZku6rJQCmRpP7NalxQ7qtZE3fuVOFMbxE++9ACKo8fupES1B5EJmTHB+UVHJ4EBMXAAunShlg2/QexzXeX+dDeWmew2QxHiES0/wDM8daDurvn0AqtrczvB3gJE3kp1EYKjhKBzJFP8C9aHv8tbgrIOqZSQoGF4SQ==
                    options from=172.16.0.0/16
                    type ssh-rsa
                }
            }
            level admin
        }
        user procurvr {
            authentication {
                encrypted-password $6$Q9xLyuFMb$s32OuFxRzQJ/vK1TU7Nu3FTpmxzesva5gSFHd6/rbA7fg.8ICs.NatSV74uOfPH/BnmxRCGbxKl6zmqydQ0j81
                plaintext-password ""
                public-keys jan@thinkpad {
                    key AAAAB3NzaC1yc2EAAAADAQABAAABAQC3gweMOJv9dk/qn8ANkwvMK6nm9/4ykVAG4+CBcpJaGdiCkQAleJ2tcZmATI8M7zny437ZK+tjBAk+xztfa9QwSfpw+w+eyhuIZ/RBz8CZSbOAu2zFAmdqvt7aGn2swssu5dYrepjCwZ+nqTyZztmgRkovneTCN2yOWW7Q/+O8zaGBeY40i4/+wza/2YECr5vFZ3loh5A4dqioIJyocUYUbZAkxutWOTZWz2/1GPI7VDsonMJ2aMre27nkwj+RMSoWwQDovu3z2SeZuKY6UuBS7aBiX8C+NSO7VOOhTHq8B1FMtot56/3aBRdTxOui8QjAFqV4x7MefwKDh8wRzYoF
                    type ssh-rsa
                }
            }
            full-name "Jan Saure"
            level admin
        }
    }
    name-server 8.8.4.4
    ntp {
        server time1.google.com {
        }
        server time2.google.com {
        }
    }
    package {
        repository wheezy {
            components "main contrib non-free"
            distribution wheezy
            password ""
            url http://http.us.debian.org/debian
            username ""
        }
        repository wheezy-security {
            components main
            distribution wheezy/updates
            password ""
            url http://security.debian.org
            username ""
        }
    }
    syslog {
        global {
            facility all {
                level notice
            }
            facility protocols {
                level debug
            }
        }
    }
    time-zone Europe/Berlin
}


/* Warning: Do not remove the following line. */
/* === vyatta-config-version: "config-management@1:conntrack@1:cron@1:dhcp-relay@1:dhcp-server@4:firewall@5:ipsec@4:nat@3:qos@1:quagga@2:system@4:ubnt-pptp@1:ubnt-util@1:vrrp@1:webgui@1:webproxy@1:zone-policy@1" === */
/* Release version: v1.7.0.4783374.150622.1533 */
