*filter
:INPUT ACCEPT [384919558:324473666993]
:FORWARD ACCEPT [302056066:288614493772]
:OUTPUT ACCEPT [799077077:380640909330]

-A INPUT -s 10.0.0.0/8 -p udp -m udp --dport 10000 -m limit --limit 2/sec -j LOG --log-prefix "fastd over mesh: "
-A INPUT -s 10.0.0.0/8 -p udp -m udp --dport 10000 -j REJECT --reject-with icmp-admin-prohibited
-A FORWARD -s 10.0.0.0/8 -p udp -m udp --dport 10000 -m limit --limit 2/sec -j LOG --log-prefix "fastd over mesh: "
-A FORWARD -s 10.0.0.0/8 -p udp -m udp --dport 10000 -j REJECT --reject-with icmp-admin-prohibited

# mss clamping
-A FORWARD -o t-+ -p tcp -m tcp --tcp-flags SYN,RST SYN -j TCPMSS --set-mss 1280

# drop invalid
-A INPUT   -m state --state INVALID -j DROP
-A FORWARD -m state --state INVALID -j DROP

# drop bogus
-A INPUT -p tcp -m tcp --tcp-flags SYN,FIN SYN,FIN -j DROP
-A INPUT -p tcp -m tcp --tcp-flags SYN,RST SYN,RST -j DROP

# drop incoming RFC1918 packets
-A INPUT -i t-+ -s 10.0.0.0/8       -j DROP
-A INPUT -i t-+ -s 169.254.0.0/16   -j DROP
-A INPUT -i t-+ -s 172.16.0.0/12    -j DROP
-A INPUT -i t-+ -s 127.0.0.0/8      -j DROP
-A INPUT -i t-+ -s 224.0.0.0/4      -j DROP
-A INPUT -i t-+ -s 240.0.0.0/5      -j DROP
-A INPUT -i t-+ -s 0.0.0.0/8        -j DROP
-A INPUT -i t-+ -s 239.255.255.0/24 -j DROP
-A INPUT -i t-+ -s 255.255.255.255  -j DROP

# allow only nat ip and transfer net to enter tunnel
-A OUTPUT -o t-+ -s 100.64.0.0/16 -d 100.64.0.0/16 -j ACCEPT
-A OUTPUT -o t-+ -s {{nat_ip}} -j ACCEPT
-A OUTPUT -o t-+ -j LOG --log-prefix "invalid packet to backbone"
-A OUTPUT -o t-+ -j DROP

COMMIT

*nat
:PREROUTING ACCEPT [2604251:186110873]
:INPUT ACCEPT [825577:59133072]
:OUTPUT ACCEPT [139384:11006472]
:POSTROUTING ACCEPT [138887:10983100]

{% if nat_ip is defined %}
-A POSTROUTING -o t-+ -j SNAT --to-source {{nat_ip}}
{% endif %}

COMMIT
