log syslog all;
router id {{ router_id }};

define DRAINED = 0;

protocol direct {
  interface "*";
};

protocol kernel {
  device routes;
  import all;
  export all;
  kernel table 42;
};

protocol device {
  scan time 10;
};

protocol static {
  preference 1;
  route ::/0 unreachable;
};

protocol static {
{% if ipv6.prefixes is defined %}
{% for item in ipv6.prefixes %}
  route {{ item.prefix }} via "lo";
{% endfor %}
{% endif %}
};

include "/etc/bird/bgp.conf";
include "/etc/bird/bird6.d/*.conf";
