{% for site in caddy.sites | default([]) %}
{{ site.domain }} {
{% if site.allowed_ips is defined %}
  @ipfilter {
    not remote_ip {{ site.allowed_ips }}
  }
  handle @ipfilter {
    respond 403
  }
{% endif %}
{% for p in site.proxy | default([]) %}
  reverse_proxy {{ p.location | default('*') }} {{ p.backend }} {
{% if not p.transparent | default(true) %}
    header_up Host {http.reverse_proxy.upstream.hostport}
{% endif %}
{% if site.skip_verify_backend_tls | default(false) %}
    transport http {
      tls_insecure_skip_verify 
    }
{% endif %}
  }
{% endfor %}

  encode gzip  
  log {
    output file /var/log/caddy/access.log {
      roll_keep 4
      roll_keep_for 7d
    }
  }
{% if site.auth is defined %}
  basicauth {{ site.auth.location | default('/*') }} {
    {{ site.auth.user }} {{ site.auth.pass }}
  }
{% endif %}
}

{% endfor %}
