global:

route:
  group_by: ['alertname','site']
  group_wait: 10s
  group_interval: 5m
  routes:
    - match:
        severity: page
      receiver: page-noc
  receiver: notify-noc
  repeat_interval: 1h

receivers:
- name: 'page-noc'
  webhook_configs:
{% for config in alertmanager.webhook_configs | default([]) %}
    - url: {{ config.url }}
      send_resolved: true
{% endfor %}

- name: 'notify-noc'
{% for config in alertmanager.slack_configs | default([]) %}
  slack_configs:
  - send_resolved: true
    api_url: {{ config.api_url }}
    channel: {{ config.channel }} 
    text: |-
{% raw %}
      {{ range .Alerts }}
        *Alert:* {{ .Annotations.summary }}
        *Description:* {{ .Annotations.description }}
        *Details:*
        {{ range .Labels.SortedPairs }} • *{{ .Name }}:* `{{ .Value }}`
        {{ end }}
      {{ end }}
{% endraw %}

{% endfor %}
