filter hostroute {
  if DRAINED = 1 then reject;
{% if nat_ip is defined %}
  if net ~ {{ nat_ip }}/32 then accept;
{% endif %}
  reject;
};

filter except_default {
  if DRAINED = 1 then reject;
  if net = 0.0.0.0/0 then reject;
  accept;
};

filter only_default {
  if DRAINED = 1 then reject;
  if net = 0.0.0.0/0 then accept;
  reject;
};

{% if openvpn is defined %}
filter ibgp_site_import {
  if DRAINED = 1 then reject;
{% for site_prefix in site_prefixes %}
  if net ~ {{ site_prefix }} then accept;
{% endfor %}
  reject;
};
{% endif %}
