filter hostroute {
{% if nat_ip is defined %}
    if net ~ {{nat_ip}}/32 then accept;
{% endif %}
    reject;
};

filter except_default {
    if net = 0.0.0.0/0 then reject;
    accept;
};

filter only_default {
    if net = 0.0.0.0/0 then accept;
    reject;
};

{% if openvpn is defined %}
filter ibgp_site_import {
    if net ~ {{site_prefix}} then accept;
    reject;
};
{% endif %}
