[Unit]
Description=Prometheus alertmanager
After=network.target auditd.service

[Service]
ExecStart=/usr/local/bin/alertmanager -config.file=/etc/prometheus/alertmanager.yml -storage.path=/var/prometheus/
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
User=prometheus

[Install]
WantedBy=multi-user.target
Alias=alertmanager.service
