function is_own_prefix() {
{% if ipv6.prefixes is defined %}
{% for item in ipv6.prefixes %}
  if net = {{ item.prefix }} then return true;
{% endfor %}
{% endif %}
  return false;
}

function is_default_route() {
  return net = ::/0;
}
