template bgp upstream {
  import filter upstream_in;
  export filter upstream_out;
  local as {{ own_as }};
  import keep filtered;
  default bgp_local_pref 1000;
};

{% if upstream.peers is defined %}
{% for peer in upstream.peers %}
{% if peer.ipv6 is defined %}
protocol bgp {{ peer.name }} from upstream {
{% if peer.ipv6.source is defined %}
  source address {{ peer.ipv6.source }};
{% endif %}
  neighbor {{ peer.ipv6.neighbor }} as {{ peer.as }};
};

{% endif %}
{% endfor %}
{% endif %}
