filter upstream_in {
  if DRAINED = 1 then reject;
  if is_default_route() then {
    bgp_local_pref = 1000;
    accept;
  }

  reject;
};

filter upstream_out {
  if DRAINED = 1 then reject;
  if is_own_prefix() then accept;

  reject;
};

template bgp upstream {
  import filter upstream_in;
  export filter upstream_out;
  local as {{ own_as }};
  import keep filtered;
};

{% if upstream.peers is defined %}
{% for peer in upstream.peers %}
{% if peer.ipv6 is defined %}
protocol bgp {{ peer.name }} from upstream {
{% if peer.ipv6.source is defined %}
  source address {{ peer.ipv6.source }};
{% endif %}
  neighbor {{ peer.ipv6.neighbor }} as {{ peer.as }};
};

{% endif %}
{% endfor %}
{% endif %}
