filter hostroute {
  if DRAINED = 1 then reject;
{% if ipv6.prefixes is defined %}
{% for item in ipv6.prefixes %}
  if net = {{ item.prefix }} then accept;
{% endfor %}
{% endif %}
  reject;
};

filter only_default {
  if DRAINED = 1 then reject;
  if net = ::/0 then accept;
  reject;
};
