template bgp ibgp {
    local as {{own_as}};
    import all;
    export filter only_default;
    next hop self;
    direct;
    gateway direct;
};

{% if ibgp_source.ipv6 is defined %}
{% for peer in ibgp.peers %}
{% if peer.ipv6 is defined and peer.ipv6 != ibgp_source.ipv6 %}
protocol bgp {{peer.name}} from ibgp {
    source address {{ibgp_source.ipv6}};
    neighbor {{peer.ipv6}} as {{own_as}};
    default bgp_med 3;
};

{% endif %}
{% endfor %}
{% endif %}

{% if openvpn is defined and sites is defined %}
template bgp ibgp_site {
    local as {{own_as}};
    import all;
    export filter only_default;
    next hop self;
    direct;
    gateway direct;
};

{% for site in sites %}
{% if site.bgp is defined %}
protocol bgp {{site.bgp.name}} from ibgp_site {
    source address {{ openvpn.ipv6.server_net | ipaddr('net') | ipaddr('1') | ipaddr('address') }};
    neighbor {{ openvpn.ipv6.server_net | ipaddr('net') | ipaddr(site.id) | ipaddr('address') }} as {{own_as}};
    default bgp_med 3;
};

{% endif %}
{% endfor %}
{% endif %}
