template bgp ibgp {
    local as {{own_as}};
    import all;
    export filter only_default;
    next hop self;
};

{% if ibgp_source.ipv6 is defined %}
{% for peer in ibgp.peers %}
{% if peer.ipv6 is defined and peer.ipv6 != ibgp_source.ipv6 %}
protocol bgp {{peer.name}} from ibgp {
    neighbor {{peer.ipv6}} as {{own_as}};
};

{% endif %}
{% endfor %}
{% endif %}

{% if openvpn is defined and sites is defined %}
template bgp ibgp_site {
    local as {{own_as}};
    import all;
    export filter only_default;
    next hop self;
};

{% for site in sites %}
{% if site.bgp is defined %}
{% if openvpn is defined %}
protocol bgp {{site.bgp.name}}_ovpn from ibgp_site {
    neighbor {{ openvpn.ipv6.server_net | ipaddr('net') | ipaddr(site.id) | ipaddr('address') }} as {{own_as}};
};
{% endif %}

{% if tunneldigger is defined %}
protocol bgp {{site.bgp.name}}_l2tp from ibgp_site {
    neighbor {{ tunneldigger.ipv6.server_net | ipsubnet(64, site.id) | ipaddr(2) | ipaddr('address') }} as {{own_as}};
    default bgp_local_pref 1000;
};
{% endif %}

{% endif %}
{% endfor %}
{% endif %}
