template bgp uplink {
    import filter only_default;
    export filter hostroute;
    local as {{own_as}};
    multihop 64;
};

{% if uplink.peers is defined %}
{% for peer in uplink.peers %}
{% if peer.ipv6 is defined %}
protocol bgp {{peer.name}} from uplink {
    source address {{peer.ipv6.source}};
    neighbor {{peer.ipv6.neighbor}} as {{peer.as}};
    default bgp_med 2;
};

{% endif %}
{% endfor %}
{% endif %}
